*{
    box-sizing: border-box;
}

body{
    background-image:linear-gradient(rgb(78, 150, 209),rgb(7, 168, 173));
    font-size: 15px;
    line-height: 3;
    padding: 0;
    margin: 0;
}

.container{
    width: 550px;
    height: auto;
    min-height: 100px;
    margin: 100px auto;
    background-image: linear-gradient(rgb(113, 185, 226), rgb(62, 123, 192));
    border-radius: 40px;
}


.titulo{
   text-align: center;
   font-size: 35px;
}

.inputs{
    width: 135px;
    padding: 5px 20px;
    margin-left: 20px;
    display: inline-block;
    /* float: left; */
}

input{
    width: 140px;
    margin: auto;
    outline: none;
    min-height: 40px;
    text-align: center;
}

button{
    width: 150px;
    margin-left: 3%;
    margin-top: 40px;
    padding: 1px 5px;
    text-align: center;
    font-size: 16px;
    border-radius: 20px;
}

#idade{
    display: block;
    margin: 10px;
    margin-top: 35px;
    padding: 10px;
    padding-bottom: 15px;
    font-size: 23px;
    text-align: center;
}